python-dotenv
openai
langchain
langchain-community
langchain-openai
langchain-google-genai
google-adk
google-generativeai
langgraph
crewai
mcp
nest_asyncio
gymnasium
stable_baselines3
pygame
ipykernel
markdown
python-docx
